<ul class="nav nav-treeview">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
            <i class="fa-solid fa-grip"></i>
            Trang chính
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Terms" asp-action="Index">
            <i class="fa-solid fa-bars-staggered"></i>
            Học phần
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Semesters" asp-action="Index">
            <i class="fa-solid fa-cart-shopping"></i>
            Học kỳ
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Classes" asp-action="Index">
            <i class="fa-brands fa-blogger-b"></i>
            Lớp học
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Sessions" asp-action="Index">
            <i class="fa-solid fa-blender-phone"></i>
            Niên khóa
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="ScoreBoards" asp-action="Index">
            <i class="fa-regular fa-newspaper"></i>
            Tỉ lệ điểm
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Positions" asp-action="Index">
            <i class="fa-regular fa-user"></i>
            Chức vụ
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Majors" asp-action="Index">
            <i class="fa-solid fa-shop"></i>
            Ngành học
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="PointSys4" asp-action="Index">
            <i class="fa-solid fa-barcode"></i>
            Điểm hệ số 4
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Years" asp-action="Index">
            <i class="fa-solid fa-barcode"></i>
            Năm học
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Timelines" asp-action="Index">
            <i class="fa-solid fa-barcode"></i>
            Ca học
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="DetailTerms" asp-action="Index">
            <i class="fa-solid fa-barcode"></i>
            Chi tiết học phần
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Staffs" asp-action="Index">
            <i class="fa-solid fa-barcode"></i>
            Giảng viên
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="UserStaffs" asp-action="Index">
            <i class="fa-solid fa-barcode"></i>
            Tài khoản giảng viên
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Students" asp-action="Index">
            <i class="fa-solid fa-barcode"></i>
            Sinh viên
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Subjects" asp-action="Index">
            <i class="fa-solid fa-barcode"></i>
            Bộ môn
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="TeachingAssignments" asp-action="Index">
            <i class="fa-solid fa-barcode"></i>
            Phân công giảng dạy
        </a>
    </li>
</ul>