@model NCKH_HRM.Models.Staff

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1>Thêm mới giảng viên</h1>


<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label">Mã giảng viên</label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên giảng viên</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">Ngày sinh</label>
                <input asp-for="BirthDate" class="form-control" type="date"/>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberPhone" class="control-label">Số điện thoại</label>
                <input asp-for="NumberPhone" class="form-control" />
                <span asp-validation-for="NumberPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Giới tính</label>
                <select asp-for="Gender" class="form-select" aria-label="Default select example">
                    <option value="true">Nam</option>
                    <option value="false">Nữ</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Degree" class="control-label">Học vị</label>
                <input asp-for="Degree" class="form-control" />
                <span asp-validation-for="Degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yearofwork" class="control-label">Thâm niên làm việc</label>
                <input asp-for="Yearofwork" class="form-control" />
                <span asp-validation-for="Yearofwork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Major" class="control-label">Ngành học</label>
                <select asp-for="Major" class ="form-control" asp-items="ViewBag.Major"></select>
            </div>
            
            <div class="form-group">
                <label asp-for="Position" class="control-label">Chức vụ</label>
                <select asp-for="Position" class ="form-control" asp-items="ViewBag.Position"></select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
