@model NCKH_HRM.Models.Class

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1>Thông tin chi tiết lớp học</h1>

<div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Id" class="control-label">Id</label>
            <input asp-for="Id" class="form-control" readonly />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Code" class="control-label">Mã lớp</label>
            <input asp-for="Code" class="form-control" readonly />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Tên lớp</label>
            <input asp-for="Name" class="form-control" readonly />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreateBy" class="control-label">Người tạo</label>
            <input asp-for="CreateBy" asp-for="CreateBy" class="form-control" readonly />
            <span asp-validation-for="CreateBy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdateBy" class="control-label">Người cập nhật</label>
            <input asp-for="UpdateBy" asp-for="UpdateBy" class="form-control" readonly />
            <span asp-validation-for="UpdateBy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreateDate" class="control-label">Ngày tạo</label>
            <input asp-for="CreateDate" asp-for="CreateDate" class="form-control" readonly />
            <span asp-validation-for="CreateDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDate" class="control-label">Ngày cập nhật</label>
            <input asp-for="UpdateDate" asp-for="UpdateDate" class="form-control" readonly />
            <span asp-validation-for="UpdateDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Xác nhận xóa</label>
            <input class="form-control" readonly @if (Model.IsDelete == true)
            {
                <text>value="Yes"</text>
            }
            else
            {
                <text>value="No"</text>
            }
            />
            <span asp-validation-for="IsDelete" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Hiển thị</label>
            <input class="form-control" readonly @if (Model.IsActive == true)
            {
                <text>value="Active"</text>
            }
            else
            {
                <text>value="Inactive"</text>
            }
            />
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
