@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Success</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/forgotpassword.css" rel="stylesheet" />
</head>
<body>
    <div class="success-container">
        <div class="card success-card">
            <div class="logo">Thành công!</div>
            <p class="message">Một liên kết đặt lại mật khẩu đã được gửi đến địa chỉ email của bạn.</p>
            <a asp-controller="Login" asp-action="Index" class="btn btn-primary">Quay lại đăng nhập</a>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>

