@model NCKH_HRM.Models.Session

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1>Sửa thông tin niên khóa</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên niên khóa</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Ngày bắt đầu</label>
                <input type="date" asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <input asp-for="CreateBy" type="hidden" />
            <input asp-for="CreateDate" type="hidden" />
            <div class="form-group">
                <label class="control-label">Xác nhận xóa</label>
                <select asp-for="IsDelete" class="form-select" aria-label="Default select example">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hiển thị</label>
                <select asp-for="IsActive" class="form-select" aria-label="Default select example">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}