@model IEnumerable<NCKH_HRM.ViewModels.AttendanceSheet>
@{
    ViewData["Title"] = "AttendanceSheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var datelearns = ViewBag.dateLearn;
    var stt = 0;
}


<h1 class="py-3">Danh sách điểm danh sinh viên học phần @ViewBag.TermName</h1>

<div class="container mt-5" id="viewToUpdate">
    @Html.Partial("PartialBodyAttendanceSheet")
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('change', '#choosetermclass', function () {
            var selectedValue = $(this).val();
            $.ajax({
                url: '@Url.Action("AttendanceSheet", "Attendance")',
                type: 'GET',
                data: { idselect: selectedValue },
                success: function (response) {
                    // Xử lý phản hồi từ server
                    $('#viewToUpdate').html(response); // Cập nhật lại nội dung của #viewToUpdate với HTML được trả về từ server
                    $('#choosetermclass').val(selectedValue);
                },
                error: function (error) {
                    // Xử lý lỗi
                    alert("An error occurred!");
                }
            });
        });
    });
</script>

