@model IEnumerable<NCKH_HRM.ViewModels.StudentInTerm>
@{
    ViewData["Title"] = "Home Page";
}

<div class="list-group">
 
    @foreach (var item in Model)
    {
        <a asp-action="" asp-route-id="@item.Id" class="list-group-item list-group-item-action"></a>
    }

</div>