@model IEnumerable<NCKH_HRM.ViewModels.StudentInTerm>
@{
    ViewData["Title"] = "Home Page";
}

<div class="list-group">
 
    @foreach (var item in Model)
    {
        <a class="list-group-item list-group-item-action">@item.Name</a>
    }

</div>