@model NCKH_HRM.Models.PointSys4

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1>Thêm mới cách tính điểm hệ 4</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Range1" class="control-label">Khoảng 1</label>
                <input name="Range1" class="form-control" />
                <span asp-validation-for="Range1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Range2" class="control-label">Khoảng 2</label>
                <input name="Range2" class="form-control" />
                <span asp-validation-for="Range2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Point" class="control-label">Điểm hệ 4</label>
                <input name="Point" class="form-control" />
                <span asp-validation-for="Point" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
