@model NCKH_HRM.Models.PointSys4

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1>Sửa thông tin điểm hệ 4</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Range1" class="control-label">Khoảng 1</label>
                <input asp-for="Range1" class="form-control" />
                <span asp-validation-for="Range1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Range2" class="control-label">Khoảng 2</label>
                <input asp-for="Range2" class="form-control" />
                <span asp-validation-for="Range2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Point" class="control-label">Điểm hệ 4</label>
                <input asp-for="Point" class="form-control" />
                <span asp-validation-for="Point" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="CreateBy" class="control-label"></label>
                <input asp-for="CreateBy" class="form-control" />
                <span asp-validation-for="CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Xác nhận xóa</label>
                <select asp-for="IsDelete" class="form-select" aria-label="Default select example">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hiển thị</label>
                <select asp-for="IsActive" class="form-select" aria-label="Default select example">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
