@model NCKH_HRM.Areas.Admin.Models.Login

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amin Login</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/adminlogin.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-container">
        <div class="card login-card">
            <div class="logo">MyAdmin</div>
            <h4 class="card-title text-center mb-4">Welcome Back</h4>
            <form action="" method="post">
                <div class="form-group mb-3">
                    <label class="mb-2" for="username">Tài khoản</label>
                    <input type="email" class="form-control" id="username" placeholder="Nhập tài khoản" asp-for="Email" value="chungtrinhj@gmail.com">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group mb-3">
                    <label class="mb-2" for="password">Mật khẩu</label>
                    <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" asp-for="Password" value="0123456789">
                    <span asp-validation-for="Password"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-block my-3 w-100">Đăng nhập</button>
            </form>
        </div>
    </div>

    @* <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="~/" class="h1"><b>Admin</b></a>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" asp-for="Email" value="chungtrinhj@gmail.com">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" asp-for="Password" value="0123456789">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div> *@
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>

