@model NCKH_HRM.Models.ScoreBoard

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1 class="py-3">Chi tiết tỉ lệ điểm</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Tỉ lệ điểm</label>
                <input asp-for="Score" class="form-control" readonly />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Người tạo</label>
                <input asp-for="CreateBy" class="form-control" readonly />
                <span asp-validation-for="CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Người cập nhật</label>
                <input asp-for="UpdateBy" class="form-control" readonly />
                <span asp-validation-for="UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ngày tạo</label>
                <input asp-for="CreateDate" class="form-control" readonly />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ngày cập nhật</label>
                <input asp-for="UpdateDate" class="form-control" readonly />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Xác nhận xóa</label>
                <input class="form-control" readonly @if (Model.IsDelete == true)
                {
                    <text>value="Yes"</text>
                }
                else
                {
                    <text>value="No"</text>
                }
                />
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hiển thị</label>
                <input class="form-control" readonly @if (Model.IsActive == true)
                {
                    <text>value="Active"</text>
                }
                else
                {
                    <text>value="Inactive"</text>
                }
                />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
