@model NCKH_HRM.Models.Timeline

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1 class="py-3">Sửa thông tin ca học</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Ngày học</label>
                <input asp-for="DateLearn" class="form-control" />
                <span asp-validation-for="DateLearn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Năm học</label>
                <select asp-for="Year" class="form-control" asp-items="ViewBag.Year"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Trạng thái</label>
                <select asp-for="Status" class="form-select" aria-label="Default select example">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="CreateBy" class="control-label"></label>
                <input asp-for="CreateBy" class="form-control" />
                <span asp-validation-for="CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Xác nhận xóa</label>
                <select asp-for="Isdelete" class="form-select" aria-label="Default select example">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="Isdelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hiển thị</label>
                <select asp-for="Isactive" class="form-select" aria-label="Default select example">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
                <span asp-validation-for="Isactive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
